:root {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
      min-width: 320px;
      min-height: 100vh;
      margin: 16px;
      background-color: rgb(180, 220, 232);
      background-image: url(bgimage.webp);
      background-repeat: no-repeat;
      background-size: cover;
    }

    .top {
      /* justify-content: space-between; */
      display: flex;
    }

    img {
      position: sticky;
      padding-left: 100px;
    }
  .hidden {
      display: none;
    }
  
    .box {
      justify-content: center;
      display: flex;
      padding-left: 15%;
    }
    
  /* form styling */
  .login {
      width: 360px;
      margin: auto;
    }
    
    form {
      position: relative;
      z-index: 1;
      background: #022b69;
      max-width: 360px;
      margin: 0 auto 100px;
      padding: 45px;
      text-align: center;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
      border-radius: 30px;
      font-size: 18px;
      color: #f2f2f2;
      float: inline-start;
    }
    
    form input {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      outline: 0;
      background: #f2f2f2;
      width: 100%;
      border: 0;
      margin: 0 0 15px;
      padding: 15px;
      box-sizing: border-box;
      font-size: 14px;
      border-radius: 10px;
    }
    
    .login_user {
      justify-content: space-around;

    }

    .loginuser {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      outline: 0;
      background: #f2f2f2;
      width: 100%;
      border: 0;
      padding: 15px;
      color: #050505;
      font-size: 14px;
      cursor: pointer;
    }
    
    .createuser {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      outline: 0;
      background: #f2f2f2;
      width: 100%;
      border: 0;
      padding: 15px;
      color: #050505;
      font-size: 14px;
      cursor: pointer;
    }
    
    form #loginbutton:hover,.form #loginbutton:active,.form #loginbutton:focus {
      background: #C3CBCE;
    }
  
    #loginbutton {
      font-size: 18px;
    }
    
    #createAccount {
      font-size: 20px;
    }
    
    .hiddentext {
      color: #29333C;
    }
    
    form .not_registered {
      margin: 15px 0 0;
      color: #f2f2f2;
      font-size: 13px;
    }
    
    form .not_registered a {
      color: #5D7283;
      text-decoration: none;
    }
    
    /* popup styling */
    #overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); 
      display: none;
    }
    
    .registerHeading {
      text-align: center;
      font-size: 25px;
    }
